*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    background-image: url("../images/11.jpg");
    background-size: cover;
}

.top-head{
    display: flex;
    justify-content: space-between;
    top: 0;
}

.logo{
    color: #fff;
    margin-top: 30px;
    padding-left: 20px;
    font-weight: 200;
    font-size: 15px;
    font-family:sans-serif;
    cursor: pointer;
    transition: 1s;
}
.logo:hover{
    color:#f85a40;
}
.navbar ul{
    display: flex;

}
.navbar ul li{
    list-style-type: none;
    padding: 10px;
    margin-top: 30px;
    
}
.navbar ul li a{
     text-decoration: none;
     color: #fff;
     font-size: 14px;
     font-weight: 550;
     letter-spacing: .5px;
     font-family: sans-serif;
     cursor: pointer;
     margin: 5px;
     padding: 10px;
}
.navbar ul input{
    border: 1px solid #fff;
    border-radius: 30px;
    margin: 25px;
    padding: 15px;

}

.navbar li.active a{
    border-bottom: 2px solid #fff;

}
.navbar a:hover{
    border-bottom: 2px solid #fff;
}

.sticky {
    background-color: #fff;
    position: sticky;
    width: 100%;
  }


.main-head{
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: #fff;
    margin-top: 10%;
    margin-left: 160px;
}

.main h1{
    text-align: left;
    font-size: 50px;
    font-weight:300;
    font-family: Arial, Helvetica, sans-seri;
}

.main h2{
    text-align: left;
    font-size: 20px;
    line-height: 1.6px;
    font-weight: 300;
    margin-top: 25px;
} 
button{
    margin-top: 60px;
    padding: 12px 30px;
    background-color: #ffffff;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;

}
.btn1{
    font-size: 14px;
}
.btn2{
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.btn1:hover{
    background-color: transparent;
    color: #fff;
}
.btn2:hover{
    background-color: #fff;
    color: #000;
}

.about-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px 120px 100px;
   
}

.about-img ,
.about-content {
    width: 45%;
}
.about-content{
    margin-top: 35px;
}
.about-content h1{
    margin-right: 400px;
}
.about-section p{
    color: #707070;
    line-height: 25px;
    letter-spacing: .5px;
    margin-top: 10px;
}

.mv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
    
}

.mv h2{
    color: #060606;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;

}
.mission .fa{
    color: #f85a40;
    font-size: 40px;
    margin-bottom: 10px;
}
.vision .fab{
    color: #f85a40;
    font-size: 40px;
    margin-bottom: 10px;
}

.whatwedo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    height: 100vh;
    background-size: cover;

}

.heading p, h1{
    text-align: center;
}

.whatwedo h1{
    font-size: 40px;
    line-height: 45px;
    font-weight: 500;
    font-family:'Raleway', serif;;
    margin-top:0px;
}
.whatwedo p{
    margin-top: 20px;
    color: #707070;
    font-size:17.6px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.service-content{
    display: flex;
    flex-wrap: wrap; 
    
}
.services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #eee;
    box-shadow: #eee;
    margin-top: 60px;
    margin-left: 30px;
}

.content-image{
    cursor: pointer;
}

.content-head p{
    color: black;
    font-size: 21px;
    font-weight: 600;
    padding-left: 20px;
    cursor: pointer;
   
}
.content-main p{
    color: #707070;
    font-size: 16px;
    padding-left: 20px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

.content-read p{
    color: #f85a40;
    font-size: 14px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.content-head p:hover{
    color: #f85a40;
}

.services:hover{
    background-color: rgb(170, 170, 170);
    box-shadow: #eee;
}

.customer{
    display:flex;
    justify-content: space-around;
    margin-top: 120px;
}


.happycustomer{
    display: flex;
    flex-wrap: wrap;
    

}
.happycustomer h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
    font-family: sans-serif;
    margin-left: 170px;
  
}
.happycustomer p{
    color: #707070;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 25px;
    letter-spacing: .5px;
    margin-left: 150px;
    padding: 20px;
   
}

.value h1{
    margin-right: 30px;
    margin-top: 20px;
    
}
.value p{
    padding-top: 0px;
    margin-left: 205px;
}
.value i{
    font-size: 30px;
    color: #1A2C79;
}
.customer1{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 100px;
    
}
.review{
    display: flex;
    gap: 25px;
}

.image img{
    border-radius: 50%;
}
.mario p, 
.petey p{
    color: #707070;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 25px;
}
.mario h1, 
.petey h1{
    color: #1A2C79;
    font-size: 16px;
    font-family: sans-serif;
    font-weight:400;
    margin-top: 18px;
    text-align: left;
    letter-spacing: 1px;
   
}
.mario .fa,
.petey .fa{
    color: #1A2C79;
}

.dogfacilities{
    display: flex;
    justify-content: space-evenly;
    background-color: #fafafa;
    height: 80vh;
    margin-top: 5%;
}

.dogimage{
   margin-top: 6%;
   margin-left: 10%;
   
}
.facilities .fa{
    padding-top: 25%;
    color: #f85a40;
    font-size: 22px;
}
.facilities h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 550;
    line-height: 28px;
    margin-top: 22px;
    text-align: left;
}
.facilities p{
    color: #707070;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 24px;
    letter-spacing: .4px;
    margin-top: 10px;
    text-align: left;
}


.petlovers{
    background-image: url("../images/bg.jpg") ;
    background-attachment: fixed;
    height: 58vh;
}


#lover{
    color: #eee;
    font-size: 12px;
    font-family: 600;
    font-family: sans-serif;
    line-height: 20px;
    padding-top:6%;
    padding-left: 12%;
    letter-spacing: .4px;
}
#team{
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    line-height: 60px;
    text-transform: capitalize;
    font-weight:600;
    margin-top: 20px;
    padding-left: 12%;
}
.btn3{
    font-weight: 400;
    margin-top: 35px;
    margin-left: 12%;
}
.btn3:hover{
    background-color: transparent;
    color: #fff;
}
.latestnews{
    margin: 7%;
}
.news h1{
    font-size: 35px;
    font-weight: 500;
    line-height: 30px;
    font-family: sans-serif;
    text-align: center;
}
.news p{
    color: #868686;
    text-align: center;
    margin-top: 20px;
    font-size: 17.8px;
    font-weight: 300;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
}
.news-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    
}
.info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 368px;
    height: 550px;
    border: 2px solid #eee;
    box-shadow: #eee;
    margin-top: 60px;
    margin-left: 30px;
}

.info-image{
    cursor: pointer;
}
.info-date{
    color: #1A2C79;
    font-family: sans-serif;
    font-style:italic ;
    margin-top: 15px;
    text-align: right;
    margin-right: 20px;
}
.info-head p{
    color: black;
    font-size: 22px;
    font-weight:normal;
    font-family: sans-serif;
    margin-top: 15px;
    line-height: 27px;
    padding-left: 20px;
    cursor: pointer;
   
}
.info-main p{
    color: #707070;
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 20px;
    margin-top: 5px;
    letter-spacing: 1px;
    line-height: 25px;
}

.info-read p{
    color: #1A2C79;
    font-size: 12px;
    font-family: sans-serif;
    font-weight:600;
    padding-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.info-read :hover{
    color: #f85a40;
}

.footer{
    background-color: #fff;
    height: 70vh;
}


